@import "../App.scss";

.jumbotron__about {
  width: 100%;
  height: 500px;
  position: relative;
}
.jumbotron__about-background-img {
  width: 100%;
  height: 100%;
}
.jumbotron__about-content {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.jumbotron__about-content-heading {
  font-size: 30px;
  color: $primary;
  margin-bottom: 1em;
}
.jumbotron__about-content-info {
  font-size: 14px;
  color: $primary;
  overflow: hidden;
  width: 65%;
  text-align: justify;
}
.get__in__touch__panel__about {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  height: 310px;
  position: relative;
}
.about__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8em auto;
}
.about__panel__heading {
  font-size: 25px;
  color: $font-color;
  font-weight: bold;
  margin-bottom: 2em;
}
.about__panel__info {
  font-size: 14px;
  color: $font-color;
  padding: 5em;
  border-radius: 10px;
  background-color: $primary;
  max-width: 70%;
}
@media (max-width: 700px) {
  .jumbotron__about {
    height: 1000px;
  }
  .about__panel__info {
    max-width: 100%;
    padding: 3em;
  }
}
