@import "../App.scss";

.section-heading {
  text-align: center;
  font-size: $heading-font-size !important;
  color: $dark !important;
}
.section-icons {
  width: 90%;
  padding: 2em 0em !important;
}
.imgCard .overLay {
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center !important;
  align-items: center !important;
}
.imgCard:hover .overLay {
  display: flex;
}
.section-heading-hiring {
  text-align: center;
  font-size: $heading-font-size + 5px !important;
  color: $dark !important;
  font-weight: 600;
}
.contact-details-form-check-box-row-reverse {
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  font-size: $normal-font-size;
  color: $primary;
}
.icon {
  display: flex;
  flex-direction: column;
}
.hiring-icon {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.hiring-icon-primary {
  background-color: $primary;
  color: $dark;
}
.hiring-icon-secondary {
  background-color: $dark;
  color: $primary;
}
.icon-info {
  font-size: $normal-font-size !important;
  color: $dark !important;
  font-weight: 600;
  padding: 1em;
  text-align: center !important;
}
.decision-section {
  width: 100%;
  background: linear-gradient(45deg, #071e2e, #324552, #091f2f);
  min-height: 460px;
  display: flex;
  align-items: center;
  padding: 2em 0em !important;
}
.motivation-section {
  padding: 2em 0em !important;
  width: 100%;
  min-height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stories-section {
  width: 100%;
  min-height: 500px;
  position: relative;
}
.card-title {
  position: relative;
}
.imageAbsolute {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 100%;
  height: 70px;
}
.checkbox__btn {
  background-color: $font-color !important;
  border: 1px solid $font-color !important;
  color: $primary !important;
  padding: 0.9em 0.5em !important;
  border-radius: 5px !important;
}
.checked {
  background-color: $primary !important;
  color: $font-color !important;
  border-color: $dark !important;
}
.primary__cta__company {
  margin-top: 3em;
  white-space: nowrap;
  background-color: $highlite !important;
  border: 1px solid $highlite !important;
}
.primary__cta__company .primary__cta__company__link {
  color: $font-color !important;
}
.primary__cta__company:hover {
  background-color: transparent !important;
}
.primary__cta__company:hover .primary__cta__company__link {
  color: $highlite !important;
}
.secondary__cta__company {
  margin-top: 3em;
  white-space: nowrap;
  background-color: transparent !important;
  border: 1px solid $highlite !important;
}
.secondary__cta__company .secondary__cta__company__link {
  color: $highlite !important;
}
.secondary__cta__company:hover {
  background-color: $highlite !important;
}
.secondary__cta__company:hover .secondary__cta__company__link {
  color: $font-color !important;
}
@media (max-width: 900px) {
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .srearch-card {
    flex-direction: column;
  }
  .primary__cta__company {
    margin-top: 0.5em;
  }
  .secondary__cta__company {
    margin-top: 0.5em;
  }
}
