@import "../App.scss";

.jumbotron__professional {
  width: 100%;
  height: 500px;
  position: relative;
}
.jumbotron__professional-background-img {
  width: 100%;
  height: 100%;
}
.jumbotron__professional-content {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.jumbotron__professional-content-heading {
  font-size: 30px;
  color: $primary;
  margin-bottom: 1em;
}
.jumbotron__professional-content-info {
  font-size: 14px;
  color: $primary;
  overflow: hidden;
  width: 65%;
  text-align: justify;
}
.professional__panel {
  padding: 8em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.professional__panel__heading {
  font-size: 22px;
  width: 100% !important;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}
.professional__panel__content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
}
.professional__panel__content__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.professional__panel__content__card__img__holder {
  width: 150px;
  height: 150px;
  background-color: $font-color;
  border-radius: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.professional__panel__content__card__img {
  width: 60px;
  height: 60px;
}
.professional__panel__content__card__heading {
  margin-top: 0.5em;
  font-size: $normal-font-size;
  color: $font-color;
  max-width: 150px;
  text-align: center;
}
.professional__panel__vacination {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0em auto;
  margin-bottom: 8em;
}
.professional__panel__vacination__left {
  width: 70%;
  padding: 3em 5em;
  background-color: $highlite;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.professional__panel__vacination__left__heading {
  color: $primary;
  font-size: 22px;
}
.professional__panel__vacination__left__btn {
  background-color: $primary;
  color: $font-color;
  border: none;
  padding: 0.7em 1em;
  border-radius: 8px;
}
.professional__panel__vacination__left__btn:hover {
  background-color: darken($primary, 10%);
}
.professional__panel__vacination__right {
  width: 40%;
  padding: 2em;
  background-color: $dark;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.professional__panel__vacination__right__text {
  color: $primary;
  text-align: center;
}
@media (max-width: 700px) {
  .jumbotron__professional {
    height: 700px;
  }
  .professional__panel__vacination {
    flex-direction: column;
  }
  .professional__panel__vacination__left {
    width: 100%;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 2em;
  }
  .professional__panel__vacination__right {
    width: 100%;
  }
  .professional__panel__vacination__left__heading {
    text-align: center;
    font-size: 18px;
  }
  .professional__panel__vacination__left__btn {
    margin-top: 1em;
  }
}
